/*################# Defaults ################*/



/*################# Customs ################*/

#navbarNav {
  /* background-color: #341C09; */
}

div.jumbotron {
  background-color: #236AB9;
  font-family: 'Gravitas One', cursive;
  color: #FC7307;
}

div.container-fluid {
  padding: 15px;
   background-color: #D4E4F7;
}

.jumbotron, .jumbotron-fluid {
  margin-bottom: 0px;
  padding: 32px;
}

.pa-widget-gallery {
  width:100%;
  height:600px;
}

div.framePic {
    align-items: baseline;
    padding-bottom: 15px;
}

div.framePic img {
  display: block;
  margin: auto;
  box-shadow: -2px -2px 10px 2px rgba(0,0,0,.15), 2px 2px 7px 2px rgba(0,0,0,1);
  overflow: hidden;
  width: 100%;
  height: auto;
}

div.bannerPic img {
  display: block;
  margin: auto;
  overflow: hidden;
  width: auto;
  height: 100px;
}

div.rafflePrizes tr {
  width: 90%;
}

div.twitchContainer iframe {
  display: block;
  margin: auto;
  overflow: hidden;
  width: 100%
}

div.sheetContainer iframe {
  display: block;
  overflow: hidden;
  width: 95%;
  height: 800px;
}

div.sheetContainer {
  align-items: center;
  padding-left: 15px;
  margin: auto;
  width: 100%;
}

div.box {
  text-align: center;
  margin: 5px;
  padding: 36px 24px 40px 24px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px 0 rgba(0,0,0,.1);
  border-radius: 7px;
}

div.icon {
  width: 100%;
}

.bg-dark {
}

div.aboutText {
  text-align: justify;
  padding-right: 25px;
}

.display-5 {
  font-family: 'Audiowide', cursive;
  text-align: center;
  font-size: 72px;
}



/* ################# Footer ################ */

/* footer.footish ul li {
  list-style-type: none;
}

footer.footish {

  display: block;
  padding-left: 5%;
}

footer.footish ul li a {
  text-decoration: none;
} */



footer.footish {
  background-color: #341C09;
  padding-left: 10%;
  padding-top: 15px;
  font-family: 'IBM Plex Sans', sans-serif;
}

footer.footish h3 {
  color: #D4E4F7;
  /* font-size: 35px; */
}

footer.footish ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
}

footer.footish ul li a {
  color: #236AB9;
  font-size: 18px;
  line-height: 1.5;
  display: block;
  text-decoration: none;
}

footer.footish ul li a:hover {
  /* background-color: #0080ff; */
  color: #D4E4F7;
}

@media screen and (max-width: 990px) {
  .pa-widget-gallery {
    height: 300px;
  }
}

@media screen and (max-width: 515px) {
  #ohJumboOne {
  font-size: 2rem;
}
}
